.CardList {
  list-style: none;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.CardList > *:nth-child(4n + 2) {
  grid-row-end: span 2;
}

.CardList > *:nth-child(4n + 1) {
  grid-row-end: span 2;
  grid-column-end: span 2;
}
